body {
    margin: 0;
    height: 100vh;
    background: #0f172a;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

/* LAYOUT */
.layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

/* MENU */
.menu {
    background: #111827;
    padding: 20px;
    border-right: 1px solid #334155;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.perfil {
    text-align: center;
}

.perfil img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid #3b82f6;
}

.menu button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #1e293b;
    color: white;
    transition: 0.3s;
}

.menu button:hover {
    background: #3b82f6;
}

/* CONTENIDO */
.contenido {
    padding: 30px;
    overflow-y: auto;
}

.card-custom {
    background: linear-gradient(#000 , #0ff);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

/* FORMULARIO CENTRADO */
.form-contacto {
    max-width: 400px;
    margin: 0 auto;
}

/* GALERIA */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

/* INPUTS */
.form-control {
    background: #0f172a;
    color: white;
    border: 1px solid #334155;
}

/* BOTONES */
.btn-primary {
    background: #3b82f6;
    border: none;
}

.btn-outline-info {
    border-color: #3b82f6;
    color: #3b82f6;
}

/* OVERLAY */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.overlay.activo {
    opacity: 1;
    visibility: visible;
}

/* PANEL */
.panel-contactos {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 350px;
    height: 100vh;
    background: #111827;
    padding: 20px;
    transition: transform 0.4s ease;
    overflow-y: auto;
    border-left: 1px solid #334155;
    z-index: 9999;
}

.panel-contactos.activo {
    transform: translateX(0);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .menu {
        align-items: center;
    }

    .form-contacto {
        max-width: 100%;
    }

    .panel-contactos {
        width: 100%;
    }

}

/* ================== */

#album{
    background: linear-gradient(#000 , rgb(255, 0, 0));
}
.gallery img {
    position: relative;
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.like-btn {
position: absolute;
top: 5px;
right: 8px;
font-size: 18px;
cursor: pointer;
padding: 4px 6px;
border-radius: 50%;
background: rgba(0,0,0,0.5);
transition: 0.3s;

/* 🔥 esto lo vuelve BLANCO */
filter: grayscale(100%) brightness(200%);

}

.like-btn.activo {
/* 🔥 vuelve a rojo normal */
filter: none;
transform: scale(1.2);
}

